<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
<h1>beauty</h1>
<table width="100%" border="1" cellspacing="1" cellpadding="0">
    <tr>
        <td>作者</td>
        <td>图片标题</td>
        <td>图片名</td>
        <td>图片展示</td>
    </tr>
    <!--/*@thymesVar id="learnList" type=""*/-->
    <tr th:each="result : ${resultList}" class="text-info">
                        <td th:text="${result.author}"></td>
                        <td th:text="${result.title}"></td>
                        <td th:text="${result.name}"></td>
                        <td><div class="tab_image"><img th:src="${result.url}" th:alt="${result.title}" style="width: 20rem;"/></div></td>
                    </tr>
</table>
</div>
</body>
</html>